.header-input {
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

input {
  width: 80%;
  padding: 1rem;
  border: .5rem solid transparent;
  font-size: 1.8rem;
  border-radius: .75rem;
  transition: .3s;
}

input:focus {
  border: .5rem solid greenyellow
}